ul.dash {
    list-style-type: none;
}
header h1 {
    text-align: center;
}
article p {
    width: 250px;
}
aside {
    float: right;
}
body {
    background-color: darkgreen;
    color: white;
}