ul.dash {
    list-style-type: none;
}
header h1 {
    text-align: center;
}
article p {
    width: 250px;
}
body {
    background-color: darkgreen;
    color: white;
    text-align: center;
}
caption {
    caption-side: bottom;
}
caption .CDGIF {
    caption-side: bottom;
}
caption .exercise {
    caption-side: bottom;
} 