ul.dash {
    list-style-type: none;
}
header h1 {
    text-align: center;
}
main p {
    width: 250px;
    text-align: center;
}
body {
    background-color: darkgreen;
    color: white;
    text-align: center;
    margin: auto;
}
figure {
    text-align: center;
}
figure.phylogeny {
    margin: auto;
}