ul.dash {
    list-style-type: none;
}
header h1 {
    text-align: center;
}
article {
    width: 150px;
}
.avian {
    float: right;
}
.whatabout {
    width: 100px;
}
article p {
    width: 150px;
}